.letter {
  font-size: 8rem;
  color: hsl(220, 100%, 60%);
  padding: 10px 20px;
  min-width: 150px;
  min-height: 150px;
  background-color: hsl(220, 20%, 20%);
  text-shadow: 0px 0px 15px hsl(220, 10%, 16%);
  margin-bottom: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
